.grid
{
    display:grid;
    
    grid-template-columns: repeat(12auto);
    grid-template-rows: 10px 35px 35px 35px 35px 10px;
    row-gap: 5px;
    column-gap: 10px;
}

.item1{
    background-color: gray;
    grid-column: 1/13;
}

.item2{
    background-color: blue;
    grid-column: 1/9;
}
.item3{
    background-color: skyblue;
    grid-column: 9/13;
}
.item4{
    background-color: yellow;
    grid-column: 1/5;
}
.item5{
    background-color: yellow;
    grid-column: 5/9;
}
.item6{
    background-color: yellow;
    grid-column: 9/13;
}
.item7{
    background-color: skyblue;
    grid-column: 1/5;
}
.item8{
    background-color: blue;
    grid-column: 5/13;
}
.item9{
    background-color: orange;
    grid-column: 1/4;
}
.item10{
    background-color: orange;
    grid-column: 4/7;
}
.item11{
    background-color: orange;
    grid-column: 7/10;
}
.item12{
    background-color: orange;
    grid-column: 10/13;
}
.item13{
    background-color: gray;
    grid-column: 1/13;
}
